<div class="grid">
    <!-- Card 1: Cien años de soledad -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Cien años de soledad" subheader="Gabriel García Márquez" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Cien años de soledad" src="https://images.cdn3.buscalibre.com/fit-in/360x360/61/8d/618d227e8967274cd9589a549adff52d.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Una de las obras más importantes de la literatura latinoamericana, que narra la saga de la familia Buendía en el pueblo ficticio de Macondo, abordando temas como el amor, la soledad, y la historia de Colombia.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 2: Don Quijote de la Mancha -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Don Quijote de la Mancha" subheader="Miguel de Cervantes" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Don Quijote de la Mancha" src="https://images.cdn3.buscalibre.com/fit-in/360x360/7d/24/7d24d9c22d4e5622619802bdd0618f64.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    La célebre novela de Cervantes sobre las aventuras de un caballero idealista que lucha por la justicia, junto a su fiel escudero Sancho Panza, enfrentando el mundo de manera peculiar.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 3: 1984 -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="1984" subheader="George Orwell" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="1984" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnERW35pkvLcJcJdm8kP-cKFIxA9FyILzeBw&s" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Una distopía clásica que presenta un mundo totalitario bajo el control absoluto de un gobierno opresivo, con un protagonista que lucha por la libertad y la verdad.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 4: Matar a un Ruiseñor -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Matar a un Ruiseñor" subheader="Harper Lee" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Matar a un Ruiseñor" src="https://images.cdn3.buscalibre.com/fit-in/360x360/1b/d7/1bd7b432c94ccdcf816c917d8abe8e83.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Una historia conmovedora sobre la lucha contra el racismo en el sur de Estados Unidos, narrada desde la perspectiva de una niña que ve cómo su padre, un abogado, defiende a un hombre acusado injustamente.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 5: La sombra del viento -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="La sombra del viento" subheader="Carlos Ruiz Zafón" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="La sombra del viento" src="https://images.cdn2.buscalibre.com/fit-in/360x360/ab/87/ab87acaf98e410b8e041df35d99abaf4.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Un joven descubre un libro en un misterioso Cementerio de los Libros Olvidados, desatando una serie de eventos que lo conectan con una oscura conspiración literaria.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 6: Harry Potter y la piedra filosofal -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Harry Potter y la piedra filosofal" subheader="J.K. Rowling" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Harry Potter y la piedra filosofal" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuwLf96ffjYPXSe4EAwLlMMeUBi1EbKHlMqg&s" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    El primer libro de la famosa saga de Harry Potter, donde un niño huérfano descubre que es un mago y comienza su educación en la escuela Hogwarts de Magia y Hechicería.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 7: El Principito -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="El Principito" subheader="Antoine de Saint-Exupéry" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="El Principito" src="https://images.cdn2.buscalibre.com/fit-in/360x360/1a/d0/1ad00b45cfb9ee36f629b922d55ced81.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Un pequeño príncipe que viaja por el universo y nos comparte lecciones sobre la vida, la amistad y la importancia de lo que no se ve con los ojos, sino con el corazón.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 8: Juegos del hambre -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Juegos del hambre" subheader="Suzanne Collins" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Juegos del hambre" src="https://www.libreriaespanola.com/wp-content/uploads/2023/03/05068714.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Una historia de supervivencia en un futuro distópico donde un grupo de jóvenes debe enfrentarse en un juego mortal, mientras luchan por la libertad y la justicia.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 9: Química Imparable -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Química Imparable" subheader="Andrea García" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Química Imparable" src="https://img.wattpad.com/cover/85569135-256-k886652.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Un thriller de ciencia ficción que explora el poder de la química y la ciencia para resolver misterios y salvar vidas, con un toque de suspenso y acción.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Repeated Cards -->
    <!-- Card 10: Cien años de soledad (Repeated) -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Cien años de soledad" subheader="Gabriel García Márquez" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Cien años de soledad" src="https://images.cdn3.buscalibre.com/fit-in/360x360/61/8d/618d227e8967274cd9589a549adff52d.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Una de las obras más importantes de la literatura latinoamericana, que narra la saga de la familia Buendía en el pueblo ficticio de Macondo, abordando temas como el amor, la soledad, y la historia de Colombia.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 11: Don Quijote de la Mancha (Repeated) -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Don Quijote de la Mancha" subheader="Miguel de Cervantes" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Don Quijote de la Mancha" src="https://images.cdn3.buscalibre.com/fit-in/360x360/7d/24/7d24d9c22d4e5622619802bdd0618f64.jpg" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    La célebre novela de Cervantes sobre las aventuras de un caballero idealista que lucha por la justicia, junto a su fiel escudero Sancho Panza, enfrentando el mundo de manera peculiar.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Card 12: 1984 (Repeated) -->
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="1984" subheader="George Orwell" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="1984" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnERW35pkvLcJcJdm8kP-cKFIxA9FyILzeBw&s" style="object-fit: cover; width: 100%; height: 300px;" />
                </ng-template>
                <p>
                    Una distopía clásica que presenta un mundo totalitario bajo el control absoluto de un gobierno opresivo, con un protagonista que lucha por la libertad y la verdad.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Comprar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
